
*.idx
*.idx
*.idx
Library-Management-System/build/Desktop_Qt_6_8_0_MinGW_64_bit-Debug/.qtc_clangd/.cache/clangd/index/mainwindow.h.9D3348D4CD6E46A0.idx
Library-Management-System/build/Desktop_Qt_6_8_0_MinGW_64_bit-Debug/.qtc_clangd/.cache/clangd/index/mainwindow.cpp.1B483EC3330F626D.idx
Library-Management-System/build/Desktop_Qt_6_8_0_MinGW_64_bit-Debug/.qtc_clangd/.cache/clangd/index/mainwindow.cpp.1B483EC3330F626D.idx
Library-Management-System/build/Desktop_Qt_6_8_0_MinGW_64_bit-Debug/.qtc_clangd/.cache/clangd/index/mainwindow.h.9D3348D4CD6E46A0.idx
*.stash
Library-Management-System/build/Desktop_Qt_6_8_1_MinGW_64_bit-Debug/debug/moc_predefs.h
*.idx
*.idx
*.json
*.idx
